<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = 'en'>
<head>
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% load static %}
    {% block content %}{% endblock %}

    {% block footer %}
    <hr>
    <p>Thanks for using Hermes! (2018)</p>
    {% endblock %}
</body>
</html>